.carousel {
    background-color: #f8f9fa; /* Change this to your desired background color */
    margin: 0; /* Remove any margin */
  }
  
  .carousel-item {
    height: 600px; /* Set a fixed height if needed */
    background: cover;
  
  }
.d-block{
   filter: saturate(0.7);
   opacity: 70%;
}